/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

::ng-deep .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #DCDCDC;
}

::ng-deep .hljs-keyword,
::ng-deep .hljs-literal,
::ng-deep .hljs-symbol,
::ng-deep .hljs-name {
  color: #569CD6;
}
::ng-deep .hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

::ng-deep .hljs-built_in,
::ng-deep .hljs-type {
  color: #4EC9B0;
}

::ng-deep .hljs-number,
::ng-deep .hljs-class {
  color: #B8D7A3;
}

::ng-deep .hljs-string,
::ng-deep .hljs-meta-string {
  color: #D69D85;
}

::ng-deep .hljs-regexp,
::ng-deep .hljs-template-tag {
  color: #9A5334;
}

::ng-deep .hljs-subst,
::ng-deep .hljs-function,
::ng-deep .hljs-title,
::ng-deep .hljs-params,
::ng-deep .hljs-formula {
  color: #DCDCDC;
}

::ng-deep .hljs-comment,
::ng-deep .hljs-quote {
  color: #57A64A;
  font-style: italic;
}

::ng-deep .hljs-doctag {
  color: #608B4E;
}

::ng-deep .hljs-meta,
::ng-deep .hljs-meta-keyword,
::ng-deep .hljs-tag {
  color: #9B9B9B;
}

::ng-deep .hljs-variable,
::ng-deep .hljs-template-variable {
  color: #BD63C5;
}

::ng-deep .hljs-attr,
::ng-deep .hljs-attribute,
::ng-deep .hljs-builtin-name {
  color: #9CDCFE;
}

::ng-deep .hljs-section {
  color: gold;
}

::ng-deep .hljs-emphasis {
  font-style: italic;
}

::ng-deep .hljs-strong {
  font-weight: bold;
}

/*::ng-deep .hljs-code {
  font-family:'Monospace';
}*/

::ng-deep .hljs-bullet,
::ng-deep .hljs-selector-tag,
::ng-deep .hljs-selector-id,
::ng-deep .hljs-selector-class,
::ng-deep .hljs-selector-attr,
::ng-deep .hljs-selector-pseudo {
  color: #D7BA7D;
}

::ng-deep .hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

::ng-deep .hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
