<div class="search-grid">
  <div class="search-form-container">
    <mat-form-field class="search-input-form" appearance="outline" [formGroup]="searchForm" [style.fontSize.px]="14">
      <mat-label>Search</mat-label>
      <input matInput type="text" placeholder="please input search keyword..." formControlName="searchInputForm" />
      <button
        mat-button
        *ngIf="searchForm.controls.searchInputForm.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        mat-button
        matSuffix
        mat-icon-button
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="toggleAdvancedSearchOpen()"
      >
        <mat-icon svgIcon="tune" [ngClass]="{ 'has-advanced-options': (hasAdvancedOptions$ | async) }"></mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="search-options-container">
    <div class="search-options-list-container">
      <mat-icon
        [ngClass]="{ 'active-view-type': (viewType$ | async) === viewTypeModel.standard }"
        svgIcon="format-list-bulleted-type"
        (click)="updateViewType(viewTypeModel.standard)"
      ></mat-icon>
      <mat-icon
        [ngClass]="{ 'active-view-type': (viewType$ | async) === viewTypeModel.expansion }"
        svgIcon="format-list-group"
        (click)="updateViewType(viewTypeModel.expansion)"
      ></mat-icon>
    </div>
    <div *ngIf="documents$ | async as documents">
      {{ documents?.length && documents.length > 0 ? documents.length : "No" }} doc(s) found
    </div>
    <mat-form-field
      class="search-options-sort-form"
      appearance="fill"
      [formGroup]="searchForm"
      [style.fontSize.px]="14"
    >
      <mat-label>Sort</mat-label>
      <mat-select formControlName="searchOptionForm">
        <mat-option *ngFor="let option of sortByOptions" [value]="option.key">
          {{ option.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="search-result-container">
    <cdk-virtual-scroll-viewport itemSize="10" class="search-result-vscroll">
      <ng-container *ngIf="(viewType$ | async) === viewTypeModel.standard">
        <app-document-list [documents]="documents$ | async"></app-document-list>
      </ng-container>
      <ng-container *ngIf="(viewType$ | async) === viewTypeModel.expansion">
        <app-expansion-document-list [documents$]="documents$"></app-expansion-document-list>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isAdvancedSearchOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
  (backdropClick)="toggleAdvancedSearchOpen()"
>
  <div class="search-advanced-overlay">
    <div><mat-label>Advances Search Options</mat-label></div>
    <mat-form-field class="autocomplete-input" appearance="outline" [formGroup]="searchForm" [style.fontSize.px]="12">
      <mat-label class="autocomplete">Categories</mat-label>
      <input
        matInput
        type="text"
        placeholder="Select categories..."
        formControlName="searchCategoryForm"
        [matAutocomplete]="autoCategories"
      />
      <mat-autocomplete #autoCategories="matAutocomplete" (optionSelected)="categorySelected($event)">
        <mat-option *ngFor="let category of allCategories$ | async" [value]="category">
          {{ category }}
        </mat-option>
      </mat-autocomplete>
      <button
        mat-button
        *ngIf="searchForm.controls.searchCategoryForm.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchCategory()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="autocomplete-input" appearance="outline" [formGroup]="searchForm" [style.fontSize.px]="12">
      <mat-label class="autocomplete">Tags</mat-label>
      <mat-chip-list #chipList [multiple]="false">
        <mat-chip *ngFor="let tag of tags" (removed)="tagRemove(tag)">
          {{ tag }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="New tag..."
          #tagInput
          formControlName="searchTagForm"
          [matAutocomplete]="autoTag"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="tagSelected($event)">
        <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="search-advanced-overlay-actions">
      <button mat-raised-button color="primary" (click)="advancedSearch()">Search</button>
      <button mat-stroked-button (click)="clearAdvancedSearchOptions()">Clear</button>
    </div>
  </div>
</ng-template>
