@use "@angular/material" as mat;
@import "variables";

::ng-deep .mat-form-field-suffix {
  top: 0px !important;
}

.search-advanced-overlay {
  width: 80vw;
  height: 30vh;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  overflow: auto;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  .autocomplete-input {
    width: 80%;
    line-height: 1.4em;
  }

  .autocomplete-label {
    vertical-align: text-top;
  }

  .search-advanced-overlay-actions {
    display: grid;
    grid-template-columns: 120px 120px;
    column-gap: 10px;
    justify-content: center;
  }
}

.search-grid {
  display: grid;
  height: Calc(100vh - 105px);
  grid-template-columns: 100%;
  grid-template-rows: minmax(50px, auto) minmax(50px, auto) Calc(100vh - 280px);
  align-content: start;

  .search-form-container {
    display: grid;
    place-items: center;
    grid-template-columns: 100%;

    .search-input-form {
      width: 80%;
      line-height: 1em;

      .has-advanced-options {
        color: mat.get-color-from-palette($light-accent, "darker");
      }
    }
  }

  .search-options-container {
    display: grid;
    border-top: 2px ridge mat.get-color-from-palette($gray, lighter);
    padding: 8px 2px 0 2px;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    justify-content: space-around;

    .search-options-list-container {
      display: grid;
      grid-template-columns: 30px 30px;
      column-gap: 10px;
      justify-content: start;
      color: mat.get-color-from-palette($gray, darker);

      .mat-icon {
        padding: 4px;
      }

      .mat-icon:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.04);
      }

      .active-view-type {
        border: 1px solid mat.get-color-from-palette($gray);
      }
    }

    .search-options-sort-form {
      width: 250px;
      justify-self: end;
    }
  }

  .search-result-container {
    display: grid;
    height: 100%;
    padding: 8px 2px;
    align-self: center;
  }

  .search-result-vscroll {
    height: 100%;
  }
}
