// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '_variables.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($karen-md-theme);

$custom-typography: mat-typography-config(
  $font-family: '"Noto Sans JP", sans-serif',
);
@include angular-material-typography($custom-typography);
@import '~@fortawesome/fontawesome-free/css/all.css';

/* You can add global styles to this file, and also import other style files */
$foreground: map-get($karen-md-theme, foreground);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.secondary-text {
  color: mat-color($foreground, secondary-text);
}

.disabled-text {
  color: mat-color($foreground, disabled-text);
}

.align-right {
  text-align: right;
}

.line-height-24 {
  line-height: 24px !important;
}

.v-align-text-bottom {
  vertical-align: text-bottom;
}
