<a mat-list-item routerLink="/docs/{{ item.docRef }}" class="nav-item">
  <p matLine>
    <span class="mat-caption secondary-text nav-item-date">{{ item.content.date }}</span>
    <span *ngIf="item.content.category && showCategory" class="nav-item-category">
      [{{ item.content.category }}]
    </span>
    <span class="nav-item-title">{{ item.content.title }}</span>
  </p>
  <p *ngIf="item.content.tag" matLine>
    <span class="mat-caption secondary-text nav-item-tag">
      <mat-icon fontSet="fa" fontIcon="fa-tags" inline></mat-icon>
      {{ item.content.tag.join(' ') }}
    </span>
  </p>
</a>
<mat-divider></mat-divider>
