@use "sass:map";
@use "@angular/material" as mat;
// imports app specific variables
@import "variables";

// Include the common styles for Angular Material.
// Be sure that you only ever include this mixin once!
@include mat.core();

// // list up required components instead of using all-component-themes
// // Emit theme-dependent styles for common features used across multiple components.
// @include mat.all-component-themes($light-theme);
@include mat.core-theme($light-theme);
@include mat.autocomplete-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.chips-theme($light-theme);
@include mat.expansion-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.input-theme($light-theme);
@include mat.list-theme($light-theme);
@include mat.progress-bar-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.all-component-typographies($light-typograhy);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.secondary-text {
  color: $color-foreground-secondary-text;
}

.hint-text {
  color: $color-foreground-hint-text;
}

.disabled-text {
  color: $color-foreground-disabled-text;
}

.about-me {
  text-align: center;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;

  margin-left: auto;
  margin-right: auto;
}
