<div
  class="search-container"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="16px"
>
  <div fxFlex="1 1 auto">
    <mat-form-field class="search-form">
      <span class="v-align-text-bottom" mat-button matPrefix (click)="search(searchValue)">
        <mat-icon>search</mat-icon>
      </span>
      <input
        matInput
        type="text"
        placeholder="Search"
        class="line-height-24"
        [(ngModel)]="searchValue"
        (ngModelChange)="search($event)"
      />
      <button
        mat-button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <p *ngIf="!docIndex">loading...</p>
  <mat-accordion multi="true" *ngIf="docIndex" class="search-result">
    <mat-expansion-panel *ngFor="let docs of docIndex">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>{{ docs.category }}</h3>
        </mat-panel-title>
        <mat-panel-description> {{ docs.count }} docs </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-nav-list>
          <ng-container *ngFor="let item of docs.docs">
            <a mat-list-item routerLink="/docs/{{ item.docRef }}" class="nav-item">
              <p matLine>
                <ng-container *ngIf="isHandset$ | async">
                  <div matLine class="mat-caption secondary-text">
                    {{ item.content.date }}
                  </div>
                  <span class="nav-item-title">{{ item.content.title }}</span>
                </ng-container>
                <ng-container *ngIf="!(isHandset$ | async)">
                  <span class="mat-caption secondary-text nav-item-date">
                    {{ item.content.date }}
                  </span>
                  <span class="nav-item-title">{{ item.content.title }}</span>
                </ng-container>
              </p>
              <p *ngIf="item.content.tag" matLine>
                <span class="mat-caption secondary-text">
                  <mat-icon fontSet="fa" fontIcon="fa-tags" inline></mat-icon>
                  {{ item.content.tag.join(' ') }}
                </span>
              </p>
            </a>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
