<ng-container *ngIf="item && item.content">
  <ng-container [ngSwitch]="isSmall$ | async">
    <mat-list-item *ngSwitchCase="true" routerLink="{{ documentRef }}" class="list-item">
      <div matLine>
        <p>
          <span class="mat-caption hint-text">{{ item.content.date }}</span>
          <span *ngIf="item.content.category && showCategory" class="mat-caption secondary-text">
            | {{ item.content.category }}
          </span>
        </p>
        <p>
          <span class="list-item-title">{{ item.content.title }}</span>
        </p>
        <p class="list-item-tag" *ngIf="item.content.tag">
          <app-tag-list [tags]="item.content.tag"></app-tag-list>
        </p>
      </div>
    </mat-list-item>
    <mat-list-item *ngSwitchCase="false" routerLink="{{ documentRef }}" class="list-item">
      <div matLine>
        <p>
          <span class="mat-caption hint-text list-item-date">{{ item.content.date }}</span>
          <span *ngIf="item.content.category && showCategory" class="list-item-category">
            [{{ item.content.category }}]
          </span>
          <span class="list-item-title">{{ item.content.title }}</span>
        </p>
        <p class="list-item-tag" *ngIf="item.content.tag">
          <app-tag-list [tags]="item.content.tag"></app-tag-list>
        </p>
      </div>
    </mat-list-item>
  </ng-container>
  <mat-divider></mat-divider>
</ng-container>
