@use "@angular/material" as mat;
@import "variables";

.header-grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

.tag-container {
  border-bottom: 2px ridge mat.get-color-from-palette($gray, lighter);
  padding: 8px 2px;
  margin-bottom: 32px;
}
