.mat-standard-chip {
  height: auto !important;
  min-height: auto !important;
  padding: 2px 12px 4px 12px !important;
}

.mat-chip {
  font-size: 12px !important;
}

.tag-item {
  cursor: pointer;
}
