@use "@angular/material" as mat;
@import "variables";

.list-item {
  min-height: 48px;
  height: auto !important;

  .list-item-date {
    float: right;
  }

  .list-item-category {
    color: $accent-darker;
  }

  .list-item-title {
    white-space: normal;
    line-height: 24px;
  }

  .list-item-tag {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
  }
}

.mat-divider {
  color: $gray-300;
}
