::ng-deep .mat-list-item-content {
  min-height: 48px;
}

.nav-item {
  min-height: 48px;
  height: auto;

  .nav-item-title {
    white-space: normal;
  }

  .nav-item-tag {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
