<h1>About this site</h1>
<p>
  このサイトは、私が学習したソフトウェア開発に関する知識をまとめ、後で振り返って思い出すために作成しました。
</p>
<p>
  Angularと.NET
  Core、機械学習に興味があります。あまり気負わず、暇な時間に、好奇心とモチベーションの続く限りまとめていきます。
</p>
<p>目指せ、生涯現役ソフトウェアエンジニア！</p>

<h2>About me</h2>
<div class="about-me">
  <p>@takumura</p>
  <img class="avatar" src="assets/images/profile_20140615.jpg" />
  <p>software engineer</p>
</div>

<h2>Skill Set</h2>
<h3>Currently using</h3>
<p>
  C# / .Net Core / ASP.NET WebForms / ASP.NET MVC / ASP.NET Core / Javascript / JQuery / Typescript
  / Angular / Windows Server / IIS / Microsoft SQL Server / 英語(TOEIC 810点)
</p>
<h3>Experienced before</h3>
<p>
  Java 1.2 - 1.4 / SAP BW 3.1C / Debian Linux / VMWare ESXi 4.1 - 5.5
</p>

<h2>免責事項</h2>
<h3>当サイトの情報の正確性について</h3>
<p>
  当サイトのコンテンツや情報において、可能な限り正確な情報を掲載するよう努めています。
  しかし、誤情報が入り込んだり、情報が古くなったりすることもあります。
  必ずしも正確性を保証するものではありません。また合法性や安全性なども保証しません。
</p>
<h3>損害等の責任について</h3>
<p>当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますので、ご了承ください。</p>

<small>&copy; Copyright 2019 takumura</small>
