<p>Primary</p>
<button mat-stroked-button class="primary-lighter">primary-lighter</button>
<button mat-stroked-button class="primary">primary</button>
<button mat-stroked-button class="primary-darker">primary-darker</button>

<p>Accent</p>
<button mat-stroked-button class="accent-lighter">accent-lighter</button>
<button mat-stroked-button class="accent">accent</button>
<button mat-stroked-button class="accent-darker">accent-darker</button>

<p>Warn</p>
<button mat-stroked-button class="warn">warn</button>

<p>Gray</p>
<button mat-stroked-button class="light-gray">light-gray</button>
<button mat-stroked-button class="gray-300">gray-300</button>
<button mat-stroked-button class="gary">gary</button>
<button mat-stroked-button class="gray-600">gray-600</button>
<button mat-stroked-button class="dark-gray">dark-gray</button>
